.btn-main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    background-color: rgb(247, 158, 15);
    color: rgb(0, 0, 0);
    border-radius: 16px;
    border: solid 4px rgb(0, 0, 0);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.btn-main:hover {
    background-color: rgb(245, 181, 78);
    box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.61);
}

.btn-main span {
    font-size: 38px;
}

.btn-main img {
    width: 64px;
    height: 64px;

    margin-right: 12px;
}

.btn-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: rgb(247, 158, 15);
    color: rgb(0, 0, 0);
    border-radius: 16px;
    border: solid 4px rgb(0, 0, 0);
    cursor: pointer;
    font-size: 24px;
    transition: all 200ms ease-in-out;
}

.btn-sub:hover {
    background-color: rgb(245, 181, 78);
}

.btn-back {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn-restart {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.btn-kbd {
    width: 92px;
    height: 48px;
    border-radius: 16px;
    border: solid 2px rgb(0, 0, 0);
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgb(245, 202, 134);
}

.btn-kbd img {
    width: 48px;
    height: 48px;
}

.settings-line {
    height: 48px;
    padding: 12px;
    border-radius: 16px;
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    background-color: rgb(245, 202, 134);
    width: 100%;
}

.settings-line span {
    flex: 1;
}

.settings-line img {
    width: 48px;
    height: 48px;
}

.btn-chk {
    height: 42px;
    width: 96px;
    background-color: rgb(250, 177, 60);
    border-radius: 16px;
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-chk-btn {
    height: 42px;
    background-color: rgb(247, 158, 15);
    border-radius: 16px;
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    margin-left: -2px;
    padding-left: 12px;
    padding-right: 12px;
}

.btn-chk-on {
    margin-right: 32px;
}

.btn-chk-off {
    margin-left: 32px;
}

.btn-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: rgb(247, 158, 15);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    border: solid 4px rgb(0, 0, 0);
    cursor: pointer;
    font-size: 24px;
    transition: all 200ms ease-in-out;
    pointer-events: auto;
    width: 40px;
    height: 40px;
}

.impressum {
    background-color: rgb(250, 177, 60);
    border-radius: 16px;
    border: solid 2px rgb(0, 0, 0);
    padding: 24px;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 256px;
    max-height: 256px;
    background-color: rgb(250, 177, 60);
    border-radius: 16px;
    border: solid 2px rgb(0, 0, 0);
    padding: 24px;
    cursor: pointer;
}

.level:nth-child(1) img {
    width: 36px;
    height: 36px;
}
.level:nth-child(2) img {
    width: 48px;
    height: 48px;
}
.level:nth-child(3) img {
    width: 64px;
    height: 64px;
}
