@media (max-height: 600px) {
  .layout-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: none;
    gap: 2rem;
    justify-items: center;
    align-items: center;
  }
   
  .layout-levels {
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
  }
  #btn-toggle-sounds {
      position: absolute;
      top: 0;
      right: 60px;
      margin: 1rem;
  }
  #btn-pause {
      position: absolute;
      top: 0;
      right: 120px;
      margin: 1rem;
  }
}